<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <node name="rviz1" pkg="rviz" type="rviz" output="screen"
          args="-d $(find RendezvousAstar)/config/rendezvous.rviz">
    </node>

    <node pkg="mockamap" type="mockamap_node" name="mockamap_node" output="screen">
        <param name="seed" type="int" value="1024"/>
        <param name="update_freq" type="double" value="1.0"/>
        <param name="resolution" type="double" value="0.5"/>
        <param name="x_length" type="int" value="50"/>
        <param name="y_length" type="int" value="50"/>
        <param name="z_length" type="int" value="5"/>
        <param name="type" type="int" value="1"/>
        <param name="complexity" type="double" value="0.025"/>
        <param name="fill" type="double" value="0.3"/>
        <param name="fractal" type="int" value="1"/>
        <param name="attenuation" type="double" value="0.1"/>
        <remap from="/mock_map" to="/voxel_map"/>
    </node>

    <node pkg="RendezvousAstar" type="standard" name="standard_searching_node" output="screen">
        <rosparam file="$(find RendezvousAstar)/config/rendezvous.yaml" command="load"/>
    </node>
</launch>